<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="icon" href="imagen/gaviotas.ico" type="image/png">
        <title>Nos Encontramos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/contact.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        <header class="encabezado">
            <nav th:replace="~{menu :: #nav-inicio}"></nav>
            <!--<div class="card contacto bg-dark marco3 posicion contenedor">
                <div class="card-body no-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <center><h2 class="text-white">Contáctanos</h2></center>
                            <ul class="list-group list-group-flush pad rounded ">
                                <li class="list-group-item ">
                                    <label class="col-sm-2 col-form-label"><i class="fas fa-phone-square-alt icon icon-phone"></i></label>+51 (01) 4475579
                                </li>
                                <li class="list-group-item ">
                                    <label class="col-sm-2 col-form-label"><i class="fas fa-location-arrow icon icon-ubi"></i></label>
                                    C. Juan Fanning 408, Miraflores 15074
                                </li>
                                <li class="list-group-item ">
                                    <a href="mailto:enviacms123@gmail.com" target="_blank" class="email link-dark">
                                        <label class="col-sm-2 col-form-label"><i class="fas fa-at icon icon-email"></i></label>
                                        LasGaviotas_Contac@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-8 map-div ">
                            <iframe class="map rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7484363355634!2d-77.03354858517645!3d-12.129357146744875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81fc5be8c09%3A0xd50a74c95872b9dc!2sC.%20Juan%20Fanning%20408%2C%20Miraflores%2015074!5e0!3m2!1ses-419!2spe!4v1668365502425!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>-->
        </header>
        <section class="content">
            <div class="contact-wrap">
                <div class="contact-in">
                    <h1>Contact Info</h1>
                    <h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
                    <p>+51 (01) 4475579</p>
                    <h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
                    <p>LasGaviotas_Contac@gmail.com</p>
                    <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
                    <p>C. Juan Fanning 408, Miraflores 15074</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="contact-in">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7484363355634!2d-77.03354858517645!3d-12.129357146744875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81fc5be8c09%3A0xd50a74c95872b9dc!2sC.%20Juan%20Fanning%20408%2C%20Miraflores%2015074!5e0!3m2!1ses-419!2spe!4v1668365502425!5m2!1ses-419!2spe" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </section>
    </body>
</html>
